/* .from{
    display: flex;
}
input{
    height: 50px;
    width: 300px;
} */


/* .heading h1{
text-align: center;
}
.heading{
    border: solid;
    display: flex;
    height: ;
}
.username{
  height: 35px;
  width: 500px;
}
.email{
    height: 35px;
    width: 500px;
}
.mainform{
    text-align: center;
}
.footer_slider_icon{
    text-align: center;
} */